/* @file landing.scss */
// @desc Landing view stylesheets

.landing {//view id
	.header{
		&-input {
			background: #5cb76c;
			height: 40px;
			width: 300px;
			margin-right: 10px;
		}
		&-button {
			padding: 12px 0.75rem;
		}
	}
	.table {
		&-container {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			width: 100%;
			padding: 35px 30px;
			background-color: transparent;
		}
		&-column {
			width: $card-width + $card-px*2;
		}
		&-title {
			margin-bottom: 15px;
			display: block;
		    font-weight: 500;
		    color: $gray-800;
		    letter-spacing: 0.5px;
		}
	}

	// .stage-text-box{
	// 	display: none;
	// }
	
	//Needed for JS. Show different task props depending on its column/stage
	//@see classes.js file
	// .stage-col {
	// 	&-queue {
	// 		.stage-text-box.queue {
	// 			display: flex;
	// 		}
	// 	}
	// 	&-progress {
	// 		.stage-text-box.progress {
	// 			display: flex;
	// 		}
	// 	}
	// 	&-finished {
	// 		.stage-text-box.finished {
	// 			display: flex;
	// 		}
	// 	}
	// }
}














