/* @file landing.scss */
//Landing view stylesheets

.landing {//View id
	.header{
		&--input {
			background: #5cb76c;
			height: 40px;
			width: 300px;
			margin-right: 10px;
		}
		&--button {
			padding: 12px 0.75rem;
		}
	}
	.table-container {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			width: 100%;
			padding: 35px 30px;
			background-color: $white;
	}

	.stage-text-box{
		visibility: hidden;
	}
	
	//Needed for JS. Show different task props depending on its column/stage
	//@see classes.js file
	.stage-col {
		&-queue {
			.stage-text-box.queue {
				visibility: visible;
			}
		}
		&-progress {
			.stage-text-box.progress {
				visibility: visible;
			}
		}
		&-finished {
			.stage-text-box.finished {
				visibility: visible;
			}
		}
	}
}














