/* @file layout.scss */
//Common rules for all app views

$header-h:  56px;
$header-py: 7px;

html, body{
  font-size: 16px;
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: $font-family-sans-serif;
}

.page {//main page container
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.header {
	width: 100%;
	height: $header-h;
	position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: $header-py 0;
	background-color: $green;
	z-index: 2;
	&--title {
    	font-weight: 100;
		margin: 0 25px;
		color: $white;
		flex: 1;
	}
	&--items {
		&-cont{
			flex: 2;
			display: flex;
			flex-direction: row;
			align-items: center;
		}
	}
}


.main {
	width: 100%;
	height: 100%;
	position: absolute;
	max-width: 1000px; //Prevent errors at huge resolutions
	display: flex;
	justify-content: center;
	top:  $header-h;
	padding: 40px;
}

