.card {
	display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #white;
    background-clip: border-box;
    border: 1px solid rgba(46, 46, 46, 0.125);
    border-radius: 0.45rem;
    padding: 10px 15px;
    margin: 7px 0;
    height: 100px;
    width: 200px;
    &-title {
		font-size: 14px;
		color: $gray-700;
    }
    &-subtitle {
		font-size: 10px;
		color: $gray-400;
    }
    &-extra-text {
		font-size: 10px;
		color: $gray-400;
    }
}

.button {
	display: inline-block;
    font-weight: 300;
    color: $white;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: $primary;
    border: none;
    padding: 0.375rem 0.75rem;
    font-size: 0.7rem;
    line-height: 1.5;
    border-radius: 10px;
    transition: all 0.15s ease-in-out;
    &:hover{
		background-color: #0069d9;
    	border-color: #0062cc;
    }
}

.input-style {
	 border: none;
}













